@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS untuk menghilangkan Scrollbar tapi tetap bisa discroll */
@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    
    /* Efek Glass yang lebih konsisten */
    .glass {
        @apply bg-white/70 dark:bg-slate-900/70 backdrop-blur-lg border border-white/20 dark:border-slate-700/30;
    }
}
