@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Utilities jika nanti butuh */
@layer utilities {
  .animate-pulse-once {
    animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) 1;
  }
}
